.mainView {
    width: 40%;
    height: 85%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

}